*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.main-header {
    width: 100%;
    background-color: #000000;
    color: #fff;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    position: fixed;
    top: 0;
}

.logo img {
    width: 40px;
    height: auto;
}


.nav-links a {
    color: #fff;
    text-decoration: none;
    margin-left: 1rem;
    align-items: center;
    transition: color 0.7s;
    
}

.nav-links a i {
    margin-right: 10px;
}

.nav-links a:hover {
    color: #eeff00;
}


.para{
    padding: 8rem;
}